* {
  box-sizing: border-box;
  /* background-color: rgb(235, 223, 223); */
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
}

body {
  background-image: URL("images/360_F_460826162_oLyD0uxvlOm78NX0QXIpLxmhYdnzZcQe.jpeg");
}

header {
  font-size: 50px;
  text-align: center;
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;
  border: solid #cdb3b3 2px;
  border-radius: 10px;
  width: 600px;
  background-image: URL("images/hand-painted-watercolor-pastel-sky-background_23-2148902771.webp");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: rgb(159, 153, 153);
}

main {
  height: 600px;
  border: solid #cdb3b3 6px;
  border-radius: 10px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-image: URL("images/bpcbgbeesroom.png");
  background-size: cover;
  position: relative;
  /* color: rgb(76, 74, 74); */
}

#instructions {
  margin-bottom: 50px;
  border: solid #cdb3b3 2px;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  background: #83bec1;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: white;
}

#instructions:hover {
  background: #628f91;
  color: white;
  cursor: pointer;
}

.hideContent {
  visibility: hidden;
}

.shrinkContainer {
  height: 40px;
}

li {
  list-style: none;
}

#stats {
  border: solid #cdb3b3 2px;
  border-radius: 10px;
  height: 122px;
  width: 300px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  margin-left: 394px;
  background: #83bec1;
  font-family: "Roboto", sans-serif;
  color: white;
}

#pet {
  /* border: solid #cdb3b3 2px; */

  position: absolute;
  border: 2px solid black;
}

/* #hatchOrDead {
  border: solid #cdb3b3 2px;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  background: #80d9db;
  position: absolute;
  text-align: center;
} */

.egg {
  background-image: URL("images/ezgif.com-gif-maker.gif");
  height: 250px;
  width: 203px;

  top: 260px;
  left: 503px;
  background-size: contain;
  background-repeat: no-repeat;
}

.chilling {
  background-image: URL("images/output-onlinegiftools\ \(1\).gif");
  height: 125px;
  width: 203px;

  top: 300px;
  left: 612px;
  background-size: contain;
  background-repeat: no-repeat;
}

h3 {
  font-family: "Roboto", sans-serif;
}

#bottom {
  border: 2px solid #cdb3b3;
  border-radius: 10px;
  background: #80d9db;
  height: 75px;
  position: absolute;
  width: 464px;
  left: 519px;
  top: 509px;
  background: #83bec1;
  color: white;
  text-align: center;
  padding-top: 10px;
}

#dinoSays {
  padding-top: 10px;
}

/* #dinoSays {
  border: 2px solid black;
  background: #80d9db;
  width: 299px;
  height: 62px;
  margin-top: 367px;
  margin-left: 651px;
} */

#controler {
  text-align: center;
  padding: 10px;
}

button {
  cursor: pointer;
  color: white;

  margin-top: 20px;
  border-radius: 6px;
  border: solid #cdb3b3 2px;
  padding: 10px;
  background: #83bec1;
}

button:hover {
  background: #628f91;
  color: white;
  cursor: pointer;
}
