* {
  box-sizing: border-box;
  /* background-color: rgb(235, 223, 223); */
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
}

body {
  background-image: URL("images/360_F_460826162_oLyD0uxvlOm78NX0QXIpLxmhYdnzZcQe.jpeg");
}

header {
  font-size: 50px;
  text-align: center;
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;
  border: solid #cdb3b3 2px;
  border-radius: 10px;
  width: 600px;
  background-image: URL("images/hand-painted-watercolor-pastel-sky-background_23-2148902771.webp");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: rgb(159, 153, 153);
}

main {
  height: 600px;
  border: solid #cdb3b3 6px;
  border-radius: 10px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-image: URL("images/bpcbgbeesroom.png");
  background-size: cover;
  position: relative;
  /* color: rgb(76, 74, 74); */
}

#instructions {
  margin-bottom: 50px;
  border: solid #cdb3b3 2px;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  background: #83bec1;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: white;
}

#instructions:hover {
  background: #628f91;
  color: white;
  cursor: pointer;
}

.hideContent {
  visibility: hidden;
}

.shrinkContainer {
  height: 40px;
}

li {
  list-style: none;
}

#stats {
  border: solid #cdb3b3 2px;
  border-radius: 10px;
  height: 122px;
  width: 300px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  margin-left: 394px;
  background: #83bec1;
  font-family: "Roboto", sans-serif;
  color: white;
}

#pet {
  /* border: solid #cdb3b3 2px; */

  position: absolute;
  /* border: 2px solid black; */
}

/* #hatchOrDead {
  border: solid #cdb3b3 2px;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  background: #80d9db;
  position: absolute;
  text-align: center;
} */

.egg {
  background-image: URL("images/ezgif.com-gif-maker.gif");
  height: 250px;
  width: 203px;

  top: 260px;
  left: 503px;
  background-size: contain;
  background-repeat: no-repeat;
}

.chilling {
  background-image: URL("images/output-onlinegiftools\ \(1\).gif");
  height: 99px;
  width: 203px;

  top: 318px;
  left: 617px;
  background-size: contain;
  background-repeat: no-repeat;
}

.eggeating {
  background-image: URL("images/cronch.gif");
  transform: rotate(340deg);
  height: 184px;
  width: 233px;
  top: 354px;
  left: 295px;
  background-size: contain;
  background-repeat: no-repeat;
}

.eggplaying {
  background-image: URL("images/jump.gif");
  height: 304px;
  width: 420px;
  top: 227px;
  left: 640px;
  background-size: contain;
  background-repeat: no-repeat;
}

.eggsleeping {
  background-image: URL("images/sleeping.gif");
  height: 304px;
  width: 492px;
  top: 314px;
  left: 236px;
  background-size: contain;
  background-repeat: no-repeat;
}

.eggdied {
  background-image: URL("images/ezgif.com-gif-maker\ \(2\).gif");
  height: 240px;
  width: 420px;
  top: 391px;
  left: 65px;
  background-size: contain;
  background-repeat: no-repeat;
}

h3 {
  font-family: "Roboto", sans-serif;
}

#bottom {
  border: 2px solid #cdb3b3;
  border-radius: 10px;
  background: #80d9db;
  height: 75px;
  position: absolute;
  width: 464px;
  left: 519px;
  top: 509px;
  background: #83bec1;
  color: white;
  text-align: center;
  padding-top: 10px;
}

#dinoSays {
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}

#hatchOrDead {
  font-family: "Roboto", sans-serif;
}

/* #dinoSays {
  border: 2px solid black;
  background: #80d9db;
  width: 299px;
  height: 62px;
  margin-top: 367px;
  margin-left: 651px;
} */

#overlay {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  pointer-events: none; /* Looked up how to make OVERLAY not Clickable. */
}

#controler {
  text-align: center;
  padding: 10px;
}

button {
  cursor: pointer;
  color: white;

  margin-top: 20px;
  border-radius: 6px;
  border: solid #cdb3b3 2px;
  padding: 10px;
  background: #83bec1;
}

button:hover {
  background: #628f91;
  color: white;
  cursor: pointer;
}

.testegg {
  background-image: URL("images/rolling.gif");
  width: 129px;
  height: 136px;
  border: solid 2px black;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 370px;
  left: 265px;
  border-radius: 74px;
  /*BELOW THIS: Attaching animation to this image */

  animation-duration: 3s; /* how long itll take the egg to cross the screen */
  animation-name: slide; /* itll refer to our keyframe names SLIDE */
  animation-iteration-count: infinite; /*this keeps our blocl/egg-mage looping (repeating the asigned movement*/
  animation-direction: alternate; /* this makes it so it does what we told it too PLUS the same on its way back */
}

@keyframes slide {
  0% {
    left: 265px;
    transform: rotate(0deg);
  }

  100% {
    left: 813px;
    transform: rotate(500deg);
  }
} /*end of animation*/
